<div fxLayout="column" fxLayoutAlign="start stretch" class="chat-container">
  <mat-toolbar color="primary">
    <span>Ứng dụng Chat</span>
    <span class="spacer"></span>
    <button mat-button (click)="logout()">Đăng xuất</button>
  </mat-toolbar>

  <div class="messages" fxFlex>
    <div *ngFor="let message of messages" class="message">
      <mat-card>
        <mat-card-title>{{ message.user }}</mat-card-title>
        <mat-card-content>{{ message.text }}</mat-card-content>
      </mat-card>
    </div>
  </div>

  <mat-card class="message-input">
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Nhập tin nhắn" [(ngModel)]="messageText">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="sendMessage()">Gửi</button>
    </mat-card-content>
  </mat-card>
</div>
